* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	/* border: 1px solid red; */

}

header a {
	text-decoration: none;
}

a {
	color:white;
	
}

body {
	/* background-image: linear-gradient(120deg, #9fd2db, #3c74c7); */
    background-color: #2fa3d5;
	color: white;
	font-family: "Poppins", sans-serif;
	min-height: 99vh;
	max-height: 99vh;
}

header {
    padding: 1rem;
    text-align: center;
	font-size: 1.5rem;
	margin-bottom: 3rem;
}

.no-display {
	display: none;
}

.play-area {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	width: 100vh;
	height: 60vh;
	background-color: white;
	border-radius: 8px;
	box-shadow: 8px 10px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	
}

.menu-bar-container {
	display: flex;
	flex: 1;
	width: 100%;
	padding: 20px 30px;
	justify-content: space-between;
	align-items: center;
	color: black;
}

.home-page-icon {
	background-color: rgb(228, 225, 19);
	color: black;
	font-weight: bold;
	font-size: 28px;
	padding: 10px;
	border: 3px solid black;
	border-radius: 20px;
}

.quit-icon {
	background-color: black;
	color: white;
	font-weight: bold;
	font-size: 32px;
	padding: 10px 15px;
	border-radius: 20px;
	cursor: pointer;
}

.game-container {
	display: flex;
	flex: 9;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	margin: auto;
	color: black;
	
}

.title-container {
	font-size: 2rem;
	color: white;
	text-align: center;
	font-weight: bold;
	margin-bottom: 1rem;
	user-select: none;
}

.game-mode-button-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	height: 100%;
}

.menu-button {
	background-color: rgb(0,128,0);
	color: white;
	font-weight: bold;
	font-size: 28px;
	padding: 20px 52px;
	border: none;
	border-radius: 8px;
}

.menu-button:hover {
	color: black;
	background-color: rgb(147, 246, 147);
}

.fade-out {
	transition: opacity 1s;
	opacity: 0;
}

.no-select {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
  }

.letter {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 70%;
	width: 35%;
	font-size: 15rem;

	background-color: #2fa3d5;
	color: white;
	border-radius: 8px;
	box-shadow: 8px 10px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	
  }

.abc-header-container {
	display: flex;
	justify-content: center;
	width: 50%;
	font-size: 4em;
	font-weight: bold;
	flex-wrap: wrap;
}

.header-a {
	color: red;
	margin-inline: 10px;
	/* transform: rotate(-0.125turn); */
	
}

.header-b {
	color: blue;
	margin-inline: 10px;
}

.header-c {
	color: green;
	margin-inline: 10px;
}

.flip {
	animation: 0.5s linear flip-card;
}

@keyframes flip-card {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(90deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}